{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "chrome": 61
            }
          }
        ]
      ],
      "retainLines": true
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "retainLines": true
    }
  }
}
